apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: slack-bot-data
  namespace: incidentfox-prod
  labels:
    app: slack-bot
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 1Gi
