apiVersion: v1
kind: Service
metadata:
  name: slack-bot-svc
  namespace: incidentfox-prod
  labels:
    app: slack-bot
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: slack-bot
